# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt

# vs code
.vscode

# scala 3
.tasty

# sbt
Project/
project/project/
project/target/
target/

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

.DS_Store
.metals
.vscode
.bloop
.bsp


# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

# general
*.class

#if files were already in the repo before adding this .gitignore:
#git rm -r --cached . && git add . && git commit -am "Remove ignored files"
build.sbt

data/

.VSCodeCounter/